{{ $pub_status := index .Params "status" | default "Unpublished" }}
<i class="fa-li fa  {{ if eq $pub_status "Unpublished" }}fa-file-o  {{ else }}fa-file {{ end }} fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i> 
<a href="{{ .RelPermalink }}">
{{ if isset .Params "author" }}
{{ .Params.author | safeHTML }}
{{ end }}
{{ if isset .Params "authors" }}
{{ .Params.authors | safeHTML }}
{{ end }}
{{ .Date.Format "(2006)" | safeHTML }}
{{ .Params.title | safeHTML }}. 
{{ if isset .Params "citation" }}
{{.Params.citation | safeHTML }}.
{{ end }}
</a>
<a href="{{ .RelPermalink }}" class="badge badge-small">Abstract</a>
{{ partial "pub-icon.html" . }}
